<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.koins.loanwallet" level="DEBUG"/>
    <logger name="org.springframework.security" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>